html,
body {

  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    background-color: #dadde6;
  font-family: arial
}


.table {
  width: 90%;
  margin-bottom: 1rem;
  color: #000000;
  /* align-content: center; */
}


h2 {
  text-transform: uppercase;
  font-weight: 700;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 10px
}

tbody tr  {
  white-space: wrap; }